<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Used to check connection in OTA (UpdaterService.kt) implementation -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <activity
            android:name="com.wstxda.gsl.ui.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_settings"
            android:label="@string/app_settings"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.wstxda.gsl.ui.SettingsActivityLauncher"
            android:exported="false"
            android:process=":ui"
            android:targetActivity="com.wstxda.gsl.ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.wstxda.gsl.shortcuts.AssistantShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_assistant"
            android:label="@string/assistant"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.gsl.shortcuts.FilesShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_files"
            android:label="@string/files"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.gsl.shortcuts.GamesShortcut"
            android:enableOnBackInvokedCallback="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_game"
            android:label="@string/games"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent"
            tools:targetApi="tiramisu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.gsl.shortcuts.LensShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_lens"
            android:label="@string/lens"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.gsl.shortcuts.MusicSearchShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_music"
            android:label="@string/music_search"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.gsl.shortcuts.PasswordManagerShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_password"
            android:label="@string/password"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.gsl.shortcuts.QuickShareShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_share"
            android:label="@string/quick_share"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wstxda.gsl.shortcuts.WeatherShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher_weather"
            android:label="@string/weather"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.wstxda.gsl.services.MusicSearchTileService"
            android:exported="true"
            android:icon="@drawable/ic_music_search_tile"
            android:label="@string/music_search_quick_settings"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>