<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Used to check connection in OTA (UpdaterService.kt) implementation -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GSL"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <!-- Manager activity-->

        <activity
            android:name=".activity.ManagerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_manager"
            android:label="@string/app_manager"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Manager activity for preferences actions -->

        <activity-alias
            android:name=".activity.ManagerActivityLauncher"
            android:exported="false"
            android:targetActivity=".activity.ManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity-alias>

        <!-- Library activity for preferences -->

        <activity
            android:name=".activity.LibraryActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:enableOnBackInvokedCallback="true"
            android:exported="false"
            android:label="@string/app_library"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Library">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Shortcuts activity's -->

        <activity
            android:name=".shortcuts.AssistantShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_assistant"
            android:label="@string/assistant"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.CollectionsShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_collections"
            android:label="@string/collections"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.FilesShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_files"
            android:label="@string/files"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.FinanceShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_finance"
            android:label="@string/finance"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.GamesShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_game"
            android:label="@string/games"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.IncognitoShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_incognito"
            android:label="@string/incognito"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.LensShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_lens"
            android:label="@string/lens"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/lens_shortcuts" />
        </activity>

        <activity
            android:name=".shortcuts.MusicSearchShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_music"
            android:label="@string/music_search"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/music_search_shortcuts" />
        </activity>

        <activity
            android:name=".shortcuts.PasswordManagerShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_password"
            android:label="@string/password"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.QuickShareShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_share"
            android:label="@string/quick_share"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.SearchShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_search"
            android:label="@string/search"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/search_shortcuts" />
        </activity>

        <activity
            android:name=".shortcuts.ShoppingShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_shopping"
            android:label="@string/shopping"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shopping_shortcuts" />
        </activity>

        <activity
            android:name=".shortcuts.TravelShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_travel"
            android:label="@string/travel"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/travel_shortcuts" />
        </activity>

        <activity
            android:name=".shortcuts.WeatherShortcut"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_weather"
            android:label="@string/weather"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Digital assistant service activity -->

        <activity
            android:name=".services.DigitalAssistantService"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Music search history activity -->

        <activity
            android:name=".services.MusicSearchHistory"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/history_shortcut"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent" />

        <!-- Music search quick settings tile -->

        <service
            android:name=".services.MusicSearchTileService"
            android:exported="true"
            android:icon="@drawable/ic_music_search_tile"
            android:label="@string/music_search_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.INACTIVE_TILE"
                android:value="true" />
        </service>
    </application>
</manifest>